* {
    font-family: "Roboto Slab", serif;
    margin: 0;  
    padding: 0; 
    box-sizing: border-box; 
}


header {
    margin: 47px 32px 100px 42px;
}


.link-header {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: #17233D;
    cursor: pointer;
    margin-right: 32px; 
}


#button-sign-up {
    background: #6fbf44;
    border-radius: 6px;
    border: 1px;
    width: 124px;
    height: 51px;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    color: #FFF;
    cursor: pointer;
}

#logo-image {
    width: 500px; 
    height: auto; 
    margin-left: 80px;
}


section {
    display: inline-block;
    text-align: left; 
}


h1 {
    margin-left: 80px; 
    width: 500px;
    height: 125px;
    font-size: 62px;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: 0.596px;
    color: #161A49;
    text-align: left; 
    margin-bottom: 80px; 
}


p {
    margin-left: 100px; 
    width: 493px;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    text-align: left;
    margin-bottom: 30px; 
}


.button-learn-more {
    margin-left: 100px;
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
}


/* agora irei aplicar responsividade para celulares */

@media screen and (max-width: 391px){
   
/* desaparecendo com o header, com exceção do botão sign-up que é uma id */
    .link-header {
        display: none;
    }

/* posicionando o botão sign up */
    #button-sign-up{
        width: 91px;
        height: 31px;
        margin-left: 220px;

    }

    
/* ajustando tamanho da imagem */
    #logo-image {
        width: 300px;
        height: auto;
        position: relative;
        margin-bottom: -580px;
        margin-left: 10%;
    }

/* ajustando tamanho do texto principal do site */
    h1 {
        width: auto;
        font-size: 32px;
        line-height: 33px;
        text-align: center;
        margin: -45px 110px -50px 30px;
    }

    p {
        color: #4B505A;
        text-align: center;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: -0.5px;
        margin: 20px 110px 30px 30px;
        width: 304px;
    }

    .button-learn-more {
        margin-left: 128px;
        border: none;
        background: none;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 1px;
        color: #6FBF44;
        cursor: pointer;
    }



}